.dialogs {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsPerson {

}
.dialogsList {
    color: grey;
}
a.active {
    color: grey;
}
.item {

}

.messages {

}
.message {

 }